<template>
    <div>
        <div v-html=emojify(name)></div>
        <div v-html=color(colorCode)></div>
        <div v-html=color(colorCode)></div>
    </div>
</template>
<!--
<script src="./color-card.js"></script>
// <script>
//     export default {
//         props: ['name', 'colorCode'],
//         data: () => {
//             return {

//             }
//         },
//         methods: {
//             emojify: (name) => {
//                 return `<img src="../imgs/`+ name +`.png">`
//             },
//             color: (colorCode) => {
//                 console.log(colorCode)
//                 return `<div>#`+ colorCode + `</div>`
//             }
//         }
//     }
// </script>
-->