<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <title>Learn Vue.js</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <style>
            #app {
                display: grid;
                width: 100vw; height: 100vh;
            }

            .color-card {
                display: flex;
                justify-content: center; align-items: center;
            }

            .color-card:hover {
                transition: transform 500ms;
                transform: scale(1.1);
            }
        </style>
    </head>
    <body>
            
        <!-- <div id="app" v-bind:style="{ background-color: selectedColor }" > -->
        <!-- <div id="app" :style="background-color: selectedColor" > -->
        <div id="app" v-bind:style="'background-color: {{selectedColor}}'" >

            <color-card 
                v-for="(p, id) in pickers"
                :key=id
                :name=p.emoji 
                :color-code=p.color
                v-on:click=changeBackground(p) 
                :on-click="{{ ()=> changeBackground(p) }}"
                >
            </color-card>
            
        </div>

        <script src="color-card.js"></script>
        <script src="index.js"></script>

    </body>
</html>