<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <title>Learn Vue.js</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <style>
            #app {
                display: flex;
	            flex-direction: column; justify-content: center; align-items: center;
	            width: 100vw; height: 100vh;  
            }
            img {
                width: 16px; height: 16px;
                vertical-align: calc(-0.12109375em);
            }
        </style>

    </head>
    <body>

        <div id="app">
            {{ message }}
            <p v-text="message"></p>
            <p 
                v-html="
                    message + ' ' +
                    otherMessage + ' ' +
                    emojify('smille_crazy')
                "
            ></p>

            <div v-html="emoji"></div>

            <span v-if="visible">Can you see it?</span>
            <button v-on:click="toogle">Show / Hide</button>

            <input v-model="message">
            <input v-model="otherMessage">

            <ol >
                <list-item 
                    v-for="p in paragraphs"
                    v-bind:text=p
                >
                </list-item>
            </ol>

            {{ radioBtn }}
            <input type="radio" value="1" v-model="radioBtn">
            <input type="radio" value="2" v-model="radioBtn">
            <input type="radio" value="3" v-model="radioBtn">
            <input type="radio" value="4" v-model="radioBtn">

            <p v-if="radioBtn == 1">😎</p>
            <p v-if="radioBtn == 2">🤨</p>
            <p v-if="radioBtn == 3">😮</p>
            <p v-if="radioBtn == 4">🤯</p>

            <div v-if="visible"> Aqui eu to visivel</div>
            <div v-else> Eu que to visivel agora poohhh</div>

            <mage spell="fire" damage=12></mage>
            <mage spell="boom"></mage>
            <mage spell="bomb" damage=25></mage>

        </div>

        <script src="list-item.js"></script>
        <script src="mage.js"></script>
        <script src="index.js"></script>

    </body>
</html>